.databases-list
  max-width 600px
  margin auto
  position relative

.database-form
  padding 0 18px 25px 18px

.edit-database-form
  padding 0 18px
  position relative
  .form
    width calc(100% - 38px)

.database-loading
  width 100%
  height 100%
  position absolute
  top 0
  background-color rgba(255, 255, 255, .6)
