.share-dashboard-button-root
  display inline-block
  position absolute
  top 5px
  right 105px

.charts-handleDashboards
.charts-handleUsers
  display inline-block

div.react-grid-item div
  height 100%

.chart-canvas div div:nth-child(2){
  height initial
}
.card.chart > div > div + div > div + div
  padding-bottom 24px

.data-visualisation
  .header
    height 36px
    padding 0 2px
    font-size 0.7em
    color grey
    position absolute
    right 0
    left 0
    margin-right 16px
    top 0
    background-color white
  .footer
    height 24px
    width 100%
    padding 0 10px
    font-size 0.7em
    color grey
    bottom 0
    position absolute
    background-color white
  .pivot-total
    font-weight 600

.dashboard-name
  position absolute
  top -58px
  left 180px
  z-index 1101
  color white

.dashboard-handleSharing
  position fixed
  right 30px
  bottom 110px

.progress-export-csv-container
  display inline-block
  position relative
  top 6px

.dashboard-handle-images
  position absolute
  top 5px
  right 70px

.chart-viewer
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  z-index 12000
  padding 40px 80px
  background-color hsla(0, 0%, 0%, 0.7)
  .data-visualisation
    .footer
      position fixed

